@model TaskManagerV2.ViewModels.Tasks.TaskDetailsVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        @Html.Partial("/Views/Shared/Menu.cshtml")
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-offset-4 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Task
                    </div>
                    <div class="panel-body">
                        <p class="lead"><strong>@Html.DisplayNameFor(model => model.Item.Title)</strong></p>
                        <p class="lead">@Html.DisplayFor(model => model.Item.Title)</p>
                        <p class="lead"><strong>@Html.DisplayNameFor(model => model.Item.TaskContent)</strong></p>
                        <p class="lead">@Html.DisplayFor(model => model.Item.TaskContent)</p>
                        <p class="lead"><strong>@Html.DisplayNameFor(model => model.Item.LoggedHours)</strong></p>
                        <p class="lead">@Html.DisplayFor(model => model.Item.LoggedHours)</p>
                        <p class="lead"><strong>@Html.DisplayNameFor(model => model.Item.DateCreation)</strong></p>
                        <p class="lead">@Html.DisplayFor(model => model.Item.DateCreation)</p>
                        <p class="lead"><strong>@Html.DisplayNameFor(model => model.Item.DateLastEdit)</strong></p>
                        <p class="lead">@Html.DisplayFor(model => model.Item.DateLastEdit)</p>
                        <p class="lead"><strong>Creator</strong></p>
                        <p class="lead">@Model.Users.Where(u => u.Id == Model.Item.ParentUserId).FirstOrDefault().Username</p>
                        <p class="lead"><strong>Assigned User</strong></p>
                        <p class="lead">@Model.Users.Where(u => u.Id == Model.Item.ParentUserId).FirstOrDefault().Username</p>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        @{ Html.RenderPartial("/Views/Shared/GenericFilter.cshtml", Model.CommentsFilter); }
        <div class="row" style="margin-top:20px;">
            <div class="col-md-8 col-sm-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Comments |
                        @Html.ActionLink("Add Comment", "Edit", "CommentsManagement", new { parentTaskId = Model.Item.Id }, null)
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Comment Content
                                        </th>
                                        <th>
                                            Assigned User
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Comments)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CommentContent)
                                            </td>
                                            <td>
                                                @Model.Users.Where(u => u.Id == item.AssignedUserId).FirstOrDefault().Username
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", "CommentsManagement", new { id = item.Id, parentTaskId = item.ParentTaskId }, null) |
                                                @Html.ActionLink("Delete", "Delete", "CommentsManagement", new { id = item.Id }, null)

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        @{ Html.RenderPartial("/Views/Shared/GenericPager.cshtml", Model.CommentsPager);}

        @{ Html.RenderPartial("/Views/Shared/GenericFilter.cshtml", Model.LogworkFilter); }
        <div class="row" style="margin-top:20px;">
            <div class="col-md-8 col-sm-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Comments |
                        @Html.ActionLink("Add Logwork", "Edit", "LogworksManagement", new { parentTaskId = Model.Item.Id }, null)
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Logwork Hours
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Logworks)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LoggedHours)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", "LogworksManagement", new { id = item.Id, parentTaskId = item.ParentTaskId }, null) |
                                                @Html.ActionLink("Delete", "Delete", "LogworksManagement", new { id = item.Id }, null)

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        @{ Html.RenderPartial("/Views/Shared/GenericPager.cshtml", Model.LogworksPager);}

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Item.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>
</body>
</html>

